## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
*.snupkg
packages/
.nuget/

## Logs
*.log
logs/

## App secrets / env
appsettings.*.json
!appsettings.json
!appsettings.Development.json
*.env
.env

## OS
.DS_Store
Thumbs.db

## IDE
.idea/
*.swp
